[Unit]
Description=vnstati HTTP server
After=network.target

[Service]
ExecStart=/usr/local/bin/vnstati-server
Restart=on-failure
RestartSec=60s

[Install]
WantedBy=multi-user.target

